.container {
    padding: 30px;
    padding-top: 120px;
    width: 100%;
    height: 500px;
}

h1 {
    font-size: 60px;
}

p {
    width: 37%;
    font-weight: bold;
    padding-top: 25px;
    line-height: 1.5;
}

@media screen and (max-width: 380px){
      h1 {
        font-size: 45px;
      }

      p {
        font-size: 13px;
      }
}